*{
    margin: 0;
    padding: 0;
}

body{
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.grid{
    background-color: black;
    width: 80%;
    height: 80%;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(3,1fr);
    gap: 10px;
    margin: auto;
    justify-content: center;
    align-content: center;
}


.grid div:nth-child(1){
  
    grid-column: span 3;
    grid-row: span 2;
    
}





.grid div:nth-child(){
    
    grid-column: span 3;
}

.grid div:nth-child(7){
    
    grid-column: 2 / span 2;
}


.grid-item{
    background-color:  gray;
    
}